@{
    ViewData["Title"] = "Sobre";
}
<h3>@ViewData["Title"]</h3>

<p>Trata-se de um <a href="https://github.com/Valmir-de-Lima/AppCoffee">projeto hospedado no GitHub</a>.</p>
<p>Desenvolvido por <a href="https://www.linkedin.com/in/valmir-de-lima/">Valmir de Lima</a>.</p>
