@model AppCurso.Models.Produto

@{
    ViewData["Title"] = "Deletar Aula";
}

<h3>Deletar</h3>

<h4>Você confirma deletar este Produto?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
    <br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>
</div>
<hr />
<div>
    <a asp-action="Index">Listagem dos Produtos</a>
</div>
