@model AppCurso.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Login</h3>
            <hr>
            @if (ViewData.ModelState.TryGetValue(string.Empty, out var modelErrors) && modelErrors.Errors.Any())
            {
                <div class="text-danger">
                    <p>@modelErrors.Errors.First().ErrorMessage</p>
                </div>
            }
            <form asp-controller="Usuario" asp-action="Index" method="post" class="mt-5" novalidate>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Senha" class="control-label">Senha:</label>
                    <input asp-for="Senha" type="password" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <br>
            <div class="form-group">
                <a asp-controller="Usuario" asp-action="Register" class="btn btn-secondary">Registrar-se</a>
            </div>
        </div>
    </div>
</div>
