@model AppCurso.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Registrar-se</h3>
            <hr>
            @if (ViewData.ModelState.TryGetValue(string.Empty, out var modelErrors) && modelErrors.Errors.Any())
            {
                <div class="text-danger">
                    <p>@modelErrors.Errors.First().ErrorMessage</p>
                </div>
            }
            <form asp-controller="Usuario" asp-action="Register" method="post" class="mt-5">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Senha" class="control-label">Senha:</label>
                    <input asp-for="Senha" type="password" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmacaoSenha" class="control-label">Confirmar Senha:</label>
                    <input asp-for="ConfirmacaoSenha" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btnRegistrar" disabled>Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Função para habilitar/desabilitar o botão de Registrar
            function atualizarBotaoRegistrar() {
                var btnRegistrar = $('#btnRegistrar');
                btnRegistrar.prop('disabled', $.trim($('input[name="Email"]').val()) === '' || $.trim($('input[name="Senha"]').val()) === '' || $.trim($('input[name="ConfirmacaoSenha"]').val()) === '');
            }

            // Atualiza o botão ao digitar nos campos
            $('input[name="Email"], input[name="Senha"], input[name="ConfirmacaoSenha"]').on('input', function () {
                atualizarBotaoRegistrar();
            });

            // Atualiza o botão ao perder o foco dos campos
            $('input[name="Email"], input[name="Senha"], input[name="ConfirmacaoSenha"]').on('blur', function () {
                atualizarBotaoRegistrar();
            });
        });
    </script>
}
